<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GameStop</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cybox NFT Collections HTML Template</title>
  <link rel="stylesheet" href="/app/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/app/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/app/dist/app.css">
  <link rel="stylesheet" href="/assets/font/font-awesome.css">
  <link href="/aos.css" rel="stylesheet">
  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png">
  <style>
    .logo-header {
      max-height: 14vh;
      max-width: 80%;
      height: auto;
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>

<script src="/app/js/jquery.min.js"></script>
<script src="/app/js/bootstrap.min.js"></script>
<script src="/app/js/swiper-bundle.min.js"></script>
<script src="/app/js/swiper.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/jquery.easing.js"></script>
<script src="/aos.js"></script>
<script src="/app/js/parallax.js"></script>
<script src="/app/js/jquery.magnific-popup.min.js"></script>
</body>
</html>